<footer class="footer-dark bg-dark py-3 align-self-bottom mb-0">
  <div class="container d-flex justify-content-center">
    <span class="text-secondary">&copy; YelpCamp 2022</span>
  </div>
</footer>
